.button {
  padding: 7px 12px;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  box-shadow: none;
  border: 2px solid rgba(30, 88, 255, 0.7);
  border-radius: 5%;
  padding: 3px;
  background: none;
}