<h1> {{title}}</h1>
{{#if success}}
    <div class="inf_success">
        You have been register successful.
    </div>
{{else}}
    {{#if errors}}
        <div class="inf_error">
            You have done mistake somewhere. Find it.
        </div>
        <div class="errors">
            <ul>
                {{#each errors}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    <form action="/submit" method="post">
        <fieldset style="max-width: 50%;">
            <legend>
                Register:
            </legend>
            <div class="input">
                <label for="mail">E-mail:</label>
                <div><input id="mail" type="text" name="mail"></div>
            </div>
            <div class="input">
                <label for="pass">Password:</label>
                <div><input id="pass" type="password" name="pass"></div>
            </div>
            <div class="input">
                <label for="Cpass">Confirm Password:</label>
                <div><input id="Cpass" type="password" name="Cpass"></div>
            </div>
            <button style="margin: 5px 0px;" type="submit">register</button>
        </fieldset>
    </form>
{{/if}}
