<h1> {{title}}</h1>
<p>Hello in {{ title }} projekt</p>
<form action="/test/submit" method="post">
    <fieldset style="max-width: 25%;">
        <legend>
            give me the ID!
        </legend>
        <div>ID: <input type="text" name="id"/> <button type="submit">Go To</button></div>
    </fieldset>
</form>