<h1> {{title}}</h1>
<p>You can find this page using GET request</p>
<p>Your id is: {{id}}<br/>
    {{#if answer}}
            Your GET answer: <h5 style="display: inline-block">{{answer}}</h5>
    {{/if}}
    </p>
