@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  word-break: break-word;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
