.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.itemBar {
  width: 100%;
  height: 2px;
  background: #7d7d7d;
  transition: .1s all;
}

label {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: .2s ease-out all;
  font-size: 16px;
}

input, textarea {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

textarea {
  resize: none;
  min-height: 150px;
}

input:focus, textarea:focus {
  outline: none;
}

input:focus + label, textarea:focus + label {
  top: -22px;
  font-size: 13px;
}

input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label  {
  top: -22px;
  font-size: 13px;
}

input:focus ~ .itemBar, textarea:focus ~ .itemBar {
  background: #1E58FF;
}
