@keyframes appear {
    0% {
      opacity: 0;
        top: 35px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.wrapper {
    list-style: none;
    padding: 50px 30px;
    display: flex;
    position: relative;
    align-items: center;
    animation: appear 0.5s ease;
}

.image {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageNone {
    @extend .image;
    background: url("https://unsplash.it/200/200") no-repeat;
    background-size: cover;

}

.description {
    font-weight: 300;
    margin: 10px 0 30px;
}
